.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.header, .h2, .h3 {
  margin: 20px 0;
  color: #0056b3;
}

.content, .film-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

.button:hover {
  background-color: #0056b3;
}

.input, .input-group input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
}

.input-group {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container, .content, .film-card {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
  }
}


.recommendations {
  margin: 10px 0;
}

.recommendations h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.recommendations ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}

.recommendations li {
  margin-bottom: 5px;
}


.seat {
  margin-right: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.seat-available {
  background-color: lightgrey;
}

.seat-selected {
  background-color: green;
}

.seat-suggested {
  background-color: yellow;
}

.seat-unavailable {
  background-color: red;
  cursor: not-allowed;
}

.confirm-button, .close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.confirm-button:hover, .close-button:hover {
  background-color: #0056b3;
}

.App-header {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.confirm-button {
  padding: 10px 20px;
  margin-right: 20px;
}

.close-button {
  padding: 10px 20px;
}


